%ul
  - @users.each do |user|
    - if session[:user_id] != user.id
      %li.user-follow-row
        = user.email
        - unless @myself.follows?(user)
          = form_for Followship.new(), :url => followships_path do |form|
            = form.hidden_field :follower_id, value: session[:user_id]
            = form.hidden_field :followed_id, value: user.id
            = form.submit 'Follow'
