.row.top_row
  .col-sm-6.user_att
    %h2= @user.email
    - if @user.avatar_file_name
      = image_tag @user.avatar.url(:thumb)
  .col-sm-6
    = link_to 'Logout', log_out_path, class: ['btn', 'btn-danger', 'logout_btn']
  .row
    = link_to 'Add Photo', new_user_photo_path(@user), class: ['btn', 'btn-success', 'add_photo_btn']
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
.row
  = link_to 'Show All Users', users_path, class: ['btn', 'btn-info']
#photos.row
  - ([@user] + @user.followees).each do |user|
    - unless user.photos.empty?
      .well.col-sm-4.slideshow[user]
        %h3= user.email
        .slide
          %h4.title= user.photos.last.title
          = image_tag user.photos.last.image.url(:medium), data: { "modal-url" => user_photo_path(user, user.photos.last) }
        .slides
          - user.photos.each do |photo|
            = image_tag photo.image.url(:medium), data: { "modal-url" => user_photo_path(user, photo) }
