%a#closeLink Close

- if @photo.is_owned_by?(@myself)
  = form_for @photo, method: :delete, url: user_photo_path(User.find(@myself), @photo) do |f|
    = f.submit "Delete"
%h3= @photo.title
= image_tag @photo.image.url(:medium)
= form_for @tag do |f|
  = f.hidden_field :photo_id, value: @photo.id
  = f.collection_select :user_id, @users, :id, :email
  = f.submit "Tag User"
- @photo.tags.each do |tag|
  = tag.user.email

%h4 Comments
%ul
- @photo.comments.each do |comment|
  %li{style: 'list-style-type: none;'}
    %strong= comment.user.email
    = comment.text
= form_for Comment.new do |f|
  = f.hidden_field :photo_id, value: @photo.id
  = f.text_field :text, required: true
  = f.submit "Comment"
